numpy==1.22.4
pandas==1.4.3
matplotlib==3.5.2
rdkit==2022.3.5
mordred==1.2.0
scikit-learn==1.5.0
# dtreeviz==>=2.1
plotly==5.9.0
rdkit-pypi==2022.3.4
seaborn==0.11.2
statsmodels==0.13.2
# ipykernel==6.22.0
xgboost==1.7.5
tqdm==4.65.0
# shap==>=0.42.1
imblearn==0.0
#nbformat==5.8.0
deepchem==2.7.1
explainerdashboard==0.4.3
argparse
openpyxl

dash
dash-design-kit
dash-snapshots
dash-embedded
dash_bootstrap_components
dash_html_components
dash_table
xlsxwriter

# dtreeviz==1.3.7
matplotlib
mordred==1.2.0
# pandas
dill
